In [11]:
import pandas as pd
df = pd.read_csv("data_full.csv", index_col=0)

In [5]:
# Define proportion function
def calculate_proportions(df, col1, col2, col3):
    df[col1] = df[col2] / df[col3]
    return df

# Define scoring function
def scoring(row, column):
    if row[column] > df[column].mean():
        return df[column].mean() / row[column]
    else:
        return row[column] / df[column].mean()

In [12]:
df

,X,gwb_code_10,regio,gm_naam,recs,ind_wbi,Number.of.inhabitants,Number.of.man,Number.of.women,Numbers.of.people.from.0.14.years.old,...,Within5Km_105,Within10Km_106,Within20Km_107,DistanceToSauna_108,DistanceToTanningSalon_109,DistanceToAttraction_110,Within10Km_111,Within20Km_112,Within50Km_113,DistanceToFireStation_114
2,2,340101,Centrum Almere Haven,Almere,Buurt,3,1580,740,845,155,...,0.0,1.0,3.9,2.7,0.4,2.4,4.0,7.0,50.0,4.6
3,3,340102,De Werven,Almere,Buurt,3,2860,1375,1480,515,...,0.0,1.0,3.0,2.6,1.2,2.3,4.0,6.6,49.6,4.4
4,4,340103,De Hoven,Almere,Buurt,3,2410,1170,1240,450,...,0.2,1.0,3.2,2.2,0.8,1.9,4.0,7.0,50.0,4.2
5,5,340104,De Meenten,Almere,Buurt,3,2260,1100,1160,380,...,0.0,1.0,3.0,3.2,1.7,2.8,4.0,6.4,49.0,4.8
6,6,340105,De Grienden,Almere,Buurt,3,2255,1060,1195,370,...,0.0,1.0,3.0,2.9,2.2,2.3,4.0,6.0,48.0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,768,9350600,Randwyck,Maastricht,Buurt,1,2000,965,1040,180,...,1.9,2.0,2.0,8.2,2.1,3.8,2.0,5.0,18.0,2.3
769,769,9350601,Heugem,Maastricht,Buurt,1,4420,2095,2330,430,...,1.8,2.0,2.0,9.1,2.5,2.7,2.0,5.0,18.0,1.6
770,770,9350602,Heer,Maastricht,Buurt,1,7280,3520,3765,835,...,1.9,2.0,2.0,6.8,2.4,4.8,3.3,5.1,18.5,3.0
771,771,9350603,De Heeg,Maastricht,Buurt,1,5940,2990,2960,755,...,0.5,2.0,2.0,8.4,2.3,3.5,2.0,5.0,18.0,2.3
772,772,9350604,Vroendaal,Maastricht,Buurt,1,1090,525,570,150,...,1.4,2.0,2.0,7.5,2.7,4.3,2.3,5.0,18.0,3.1

ValueError: invalid literal for int() with base 10: '.'

In [15]:
calculate_proportions(df, 'prop_0-14', 'Numbers.of.people.from.0.14.years.old', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_15-24', 'Number.of.people.from.15.24.years.old', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_25-44', 'Number.of.people.from.25.44.years.old', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_45-64', 'Number.of.people.from.45.64.years.old', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_65+', 'Number.of.people....65.years.old', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_low_ed', 'n_low_educated', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_med_ed', 'n_highschool_educated', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_high_ed', 'n_highly_educated', 'Number.of.inhabitants')
df.dropna(inplace=True)

In [16]:
# Define df_score DataFrame
df_score = pd.DataFrame()

# Apply the function to each row in the 'prop_0-14' column
df_score['score_0-14'] = df.apply(scoring, column="prop_0-14", axis=1)
df_score['score_15-24'] = df.apply(scoring, column="prop_15-24", axis=1)
df_score['score_25-44'] = df.apply(scoring, column="prop_25-44", axis=1)
df_score['score_45-64'] = df.apply(scoring, column="prop_45-64", axis=1)
df_score['score_65+'] = df.apply(scoring, column="prop_65+", axis=1)
df_score['score_age']=(df_score['score_0-14']+df_score['score_15-24']+df_score['score_25-44']+df_score['score_45-64']+df_score['score_65+'])/5

In [21]:
calculate_proportions(df, 'prop_men', 'Number.of.man', 'Number.of.inhabitants')
calculate_proportions(df, 'prop_women', 'Number.of.women', 'Number.of.inhabitants')
df_score['score_men'] = df.apply(scoring, column="prop_men", axis=1)
df_score['score_women'] = df.apply(scoring, column="prop_women", axis=1)
df_score["score_gender"]= (df_score["score_men"]+df_score["score_women"])/2

df_score['score_household_size']=df.apply(scoring, column="Average.household.size", axis=1)
df_score['score_single_family']=df.apply(scoring, column='percent.of.single.family.housing', axis=1)
df_score['score_multi_family']=df.apply(scoring, column='percent.of.multifamily.housing', axis=1)
df_score["score_family"]= (df_score["score_single_family"]+df_score["score_multi_family"])/2


df_score['score_low_ed'] = df.apply(scoring, column="prop_low_ed", axis=1)
df_score['score_med_ed'] = df.apply(scoring, column="prop_med_ed", axis=1)
df_score['score_high_ed'] = df.apply(scoring, column="prop_high_ed", axis=1)
df_score["score_education"]= (df_score["score_low_ed"]+df_score["score_med_ed"]+df_score["score_high_ed"])/3

df_score['score_employed'] = df.apply(scoring, column="p_employees", axis=1)
df_score['score_unemployed'] = df.apply(scoring, column="p_self_employed", axis=1)
df_score['score_employment'] = (df_score['score_employed']+df_score['score_unemployed'])/2
df_score

,score_0-14,score_15-24,score_25-44,score_45-64,score_65+,score_age,score_men,score_women,score_gender,score_household_size,score_single_family,score_multi_family,score_family,score_low_ed,score_med_ed,score_high_ed,score_education,score_employed,score_unemployed,score_employment
2,0.688176,0.640775,0.829360,0.819150,0.449607,0.685414,0.938834,0.937097,0.937965,0.807898,0.060872,0.522849,0.291861,0.664511,0.990234,0.497216,0.717320,0.994611,0.971554,0.983083
3,0.791651,0.684390,0.927810,0.984089,0.813846,0.840357,0.963720,0.968475,0.966097,0.943071,0.758210,0.690113,0.724161,0.631496,0.893217,0.498503,0.674405,0.982036,0.900619,0.941327
4,0.763448,0.826184,0.897154,0.997353,0.922555,0.881339,0.973157,0.974046,0.973602,0.943071,0.994244,0.994438,0.994341,0.654935,0.779241,0.398414,0.610863,0.982036,0.900619,0.941327
5,0.847813,0.642098,0.797250,0.887170,0.734054,0.781677,0.975660,0.976415,0.976038,0.943071,0.746722,0.670395,0.708559,0.950503,0.828172,0.695222,0.824632,0.982036,0.900619,0.941327
6,0.868800,0.658488,0.726380,0.954484,0.614496,0.764530,0.942266,0.945720,0.943993,0.861065,0.502894,0.039435,0.271165,0.796656,0.784500,0.567733,0.716296,0.993590,0.964948,0.979269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,0.631346,0.911748,0.909082,0.877055,0.835206,0.832888,0.967190,0.963786,0.965488,0.858391,0.771047,0.818006,0.794526,0.537811,0.927826,0.602958,0.689532,0.959717,0.771959,0.865838
769,0.682451,0.992574,0.748582,0.799816,0.721457,0.788976,0.950115,0.950715,0.950415,0.959379,0.849718,0.828135,0.838927,0.703386,0.956516,0.763614,0.807838,0.970749,0.836289,0.903519
770,0.804600,0.927129,0.809993,0.897128,0.700873,0.827945,0.969227,0.969059,0.969143,0.959379,0.746722,0.670395,0.708559,0.851626,0.866150,0.767376,0.828384,0.982036,0.900619,0.941327
771,0.891632,0.835165,0.929295,0.850408,0.892539,0.879808,0.991062,0.994309,0.992686,0.959379,0.794898,0.749265,0.772081,0.713778,0.824508,0.695569,0.744618,0.959717,0.771959,0.865838
772,0.965361,0.774025,0.450822,0.707433,0.594058,0.698340,0.965488,0.958375,0.961932,0.825187,0.704052,0.591525,0.647789,0.623247,0.500716,0.797059,0.640341,0.935408,0.740232,0.837820