In [268]:
import pandas as pd
df = pd.read_csv("data_preprocessed.csv", index_col=0)  
df

,X,gwb_code_10,gm_naam,recs,ind_wbi,Number.of.inhabitants,Number.of.man,Number.of.women,Numbers.of.people.from.0.14.years.old,Number.of.people.from.15.24.years.old,...,Within5Km_105,Within10Km_106,Within20Km_107,DistanceToSauna_108,DistanceToTanningSalon_109,DistanceToAttraction_110,Within10Km_111,Within20Km_112,Within50Km_113,DistanceToFireStation_114
2,2,340101,Almere,Buurt,3,1580,740,845,155,150,...,0.0,1.0,3.9,2.7,0.4,2.4,4.0,7.0,50.0,4.6
3,3,340102,Almere,Buurt,3,2860,1375,1480,515,290,...,0.0,1.0,3.0,2.6,1.2,2.3,4.0,6.6,49.6,4.4
4,4,340103,Almere,Buurt,3,2410,1170,1240,450,295,...,0.2,1.0,3.2,2.2,0.8,1.9,4.0,7.0,50.0,4.2
5,5,340104,Almere,Buurt,3,2260,1100,1160,380,215,...,0.0,1.0,3.0,3.2,1.7,2.8,4.0,6.4,49.0,4.8
6,6,340105,Almere,Buurt,3,2255,1060,1195,370,220,...,0.0,1.0,3.0,2.9,2.2,2.3,4.0,6.0,48.0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,1246,3639700,Amsterdam,Buurt,1,2960,1490,1475,475,405,...,0.1,1.2,15.0,6.6,6.9,1.3,3.0,10.2,58.9,2.2
1247,1247,3639701,Amsterdam,Buurt,1,1670,800,865,305,235,...,0.3,1.0,15.0,7.0,7.3,1.7,3.0,11.2,59.0,2.6
1248,1248,3639702,Amsterdam,Buurt,1,3250,1650,1600,450,375,...,0.0,1.2,15.0,6.7,6.9,0.8,3.0,10.3,58.6,2.3
1249,1249,3639703,Amsterdam,Buurt,1,3355,1635,1715,505,320,...,0.1,1.0,15.0,7.1,7.3,1.8,3.0,11.1,59.0,2.7
1250,1250,3639800,Amsterdam,Buurt,1,1485,705,785,260,170,...,0.0,1.0,17.6,2.5,5.9,4.8,3.0,12.2,59.3,0.4

In [269]:
df_wijk = pd.read_csv("Leefbaarometer-scores wijken 2002-2022.csv")
df_wijk=df_wijk.iloc[:,:4]
df_wijk=df_wijk[(df_wijk['jaar']==2020) | (df_wijk['jaar']==2022)]
df_wijk["wk_code"]=df_wijk["wk_code"].apply(lambda x: x[2:])
df_wijk.rename(columns={'wk_naam': 'name'}, inplace=True)
df_all = []
for i in range(0, len(df_wijk)-1, 2):
    row1 = df_wijk.iloc[i]
    row2 = df_wijk.iloc[i+1]
    
    # Calculate the average of the last column values
    average_value = (row1[-1] + row2[-1]) / 2
    
    # Create a new row with the average value
    new_row = [max(row1[0], row2[0]), 2021, average_value]
    
    # Append the new row to the averaged df_wijk
    df_all.append(new_row)

C:\Users\I6240624\AppData\Local\Temp\ipykernel_3816\444341776.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_value = (row1[-1] + row2[-1]) / 2
C:\Users\I6240624\AppData\Local\Temp\ipykernel_3816\444341776.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_row = [max(row1[0], row2[0]), 2021, average_value]

In [270]:
df_buurt = pd.read_csv("Leefbaarometer-scores buurten 2002-2022.csv")
df_buurt=df_buurt.iloc[:,:4]
df_buurt=df_buurt[(df_buurt['jaar']==2020) | (df_buurt['jaar']==2022)]
df_buurt["bu_code"]=df_buurt["bu_code"].apply(lambda x: x[2:])
df_buurt.rename(columns={'bu_naam': 'name'}, inplace=True)
for i in range(0, len(df_buurt)-1, 2):
    row1 = df_buurt.iloc[i]
    row2 = df_buurt.iloc[i+1]
    
    # Calculate the average of the last column values
    average_value = (row1[-1] + row2[-1]) / 2
    
    # Create a new row with the average value
    new_row = [max(row1[0], row2[0]), 2021, average_value]
    
    # Append the new row to the averaged df_wijk
    df_all.append(new_row)
df_all = pd.DataFrame(df_all, columns=["code", "year", "liveability_score"])
df_all["code"] = df_all["code"].astype(int)

C:\Users\I6240624\AppData\Local\Temp\ipykernel_3816\3285892393.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_value = (row1[-1] + row2[-1]) / 2
C:\Users\I6240624\AppData\Local\Temp\ipykernel_3816\3285892393.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_row = [max(row1[0], row2[0]), 2021, average_value]

In [271]:
df=pd.merge(df, df_all, left_on="gwb_code_10",right_on="code", how='inner')

In [272]:
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the column

In [273]:
df_new=pd.DataFrame()
def calculate_proportions(df1, col1, col2, col3):
    df_new[col1] = df1[col2] / df1[col3]
    return df_new

def normalize(df, col1, col2):
    min_density = df[col1].min()
    max_density = df[col1].max()
    df_new[col2] =(df[col1] - min_density) / (max_density - min_density)
    return df_new

In [274]:
df

,X,gwb_code_10,gm_naam,recs,ind_wbi,Number.of.inhabitants,Number.of.man,Number.of.women,Numbers.of.people.from.0.14.years.old,Number.of.people.from.15.24.years.old,...,DistanceToSauna_108,DistanceToTanningSalon_109,DistanceToAttraction_110,Within10Km_111,Within20Km_112,Within50Km_113,DistanceToFireStation_114,code,year,liveability_score
0,2,340101,Almere,Buurt,3,1580,740,845,155,150,...,2.7,0.4,2.4,4.0,7.0,50.0,4.6,340101,2021,4.113391
1,3,340102,Almere,Buurt,3,2860,1375,1480,515,290,...,2.6,1.2,2.3,4.0,6.6,49.6,4.4,340102,2021,3.965993
2,16,340201,Almere,Buurt,3,4755,2470,2290,555,460,...,2.0,0.5,3.8,4.0,6.0,46.8,1.2,340201,2021,4.035158
3,17,340202,Almere,Buurt,3,10430,5080,5345,1570,1645,...,3.3,1.3,3.8,4.0,5.9,45.0,1.4,340202,2021,4.031153
4,18,340203,Almere,Buurt,3,5710,2875,2835,1035,890,...,4.5,2.6,3.1,4.0,5.2,44.2,1.6,340203,2021,3.966037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,1246,3639700,Amsterdam,Buurt,1,2960,1490,1475,475,405,...,6.6,6.9,1.3,3.0,10.2,58.9,2.2,3639700,2021,3.866068
958,1247,3639701,Amsterdam,Buurt,1,1670,800,865,305,235,...,7.0,7.3,1.7,3.0,11.2,59.0,2.6,3639701,2021,3.750136
959,1248,3639702,Amsterdam,Buurt,1,3250,1650,1600,450,375,...,6.7,6.9,0.8,3.0,10.3,58.6,2.3,3639702,2021,3.857822
960,1249,3639703,Amsterdam,Buurt,1,3355,1635,1715,505,320,...,7.1,7.3,1.8,3.0,11.1,59.0,2.7,3639703,2021,3.931361
961,1250,3639800,Amsterdam,Buurt,1,1485,705,785,260,170,...,2.5,5.9,4.8,3.0,12.2,59.3,0.4,3639800,2021,3.966485

In [275]:
calculate_proportions(df, 'prop_0-14', 'Numbers.of.people.from.0.14.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Numbers.of.people.from.0.14.years.old'])
calculate_proportions(df, 'prop_15-24', 'Number.of.people.from.15.24.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.15.24.years.old'])
calculate_proportions(df, 'prop_25-44', 'Number.of.people.from.25.44.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.25.44.years.old'])
calculate_proportions(df, 'prop_45-64', 'Number.of.people.from.45.64.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.45.64.years.old'])
calculate_proportions(df, 'prop_65+', 'Number.of.people....65.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people....65.years.old'])
calculate_proportions(df, 'prop_low_ed', 'n_low_educated', 'Number.of.inhabitants')
df=df.drop(columns=['n_low_educated'])
calculate_proportions(df, 'prop_med_ed', 'n_highschool_educated', 'Number.of.inhabitants')
df=df.drop(columns=['n_highschool_educated'])
calculate_proportions(df, 'prop_high_ed', 'n_highly_educated', 'Number.of.inhabitants')
df=df.drop(columns=['n_highly_educated'])
calculate_proportions(df, 'prop_recipients', 'n_income_recipients', 'Number.of.inhabitants')
df_new['prop_employee']=((df["Number.of.inhabitants"]-df['n_income_recipients'])*(df['p_employees']/100))/df["Number.of.inhabitants"]
df_new["prop_self_employed"]=1-df_new['prop_employee']-df_new['prop_recipients']
df=df.drop(columns=['n_income_recipients'])
calculate_proportions(df, 'prop_men', 'Number.of.man', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.man'])
calculate_proportions(df, 'prop_women', 'Number.of.women', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.women'])

In [276]:
normalize(df, 'Population.density', 'pop_density')
df=df.drop(columns=['Population.density'])
normalize(df, 'avg_income_per_recipient', 'income')
df=df.drop(columns=['avg_income_per_recipient'])
normalize(df, 'liveability_score', 'liveability_score')
df=df.drop(columns=['liveability_score'])
normalize(df, "Number.of.inhabitants", "inhabitants")
df=df.drop(columns=['Number.of.inhabitants'])
normalize(df, "Average.household.size", "household_size")
df=df.drop(columns=['Average.household.size'])
normalize(df, "Number.of.households", "households")
df=df.drop(columns=['Number.of.households'])
normalize(df, "n_pp_w_assitance", "assistance")
df=df.drop(columns=['n_pp_w_assitance'])
normalize(df,"n_pp_w_AO","AO")
df=df.drop(columns=['n_pp_w_AO'])
normalize(df,"n_pp_w_WW","WW")
df=df.drop(columns=['n_pp_w_WW'])
normalize(df,"n_pp_w_state_pension","Pension")
df=df.drop(columns=['n_pp_w_state_pension'])

df_new["p_belong_40p_w_lowest_income"]=df["p_belong_40p_w_lowest_income"]/100
df=df.drop(columns=['p_belong_40p_w_lowest_income'])
df_new["p_belong_20p_w_highest_income"]=df["p_belong_20p_w_highest_income"]/100
df=df.drop(columns=['p_belong_20p_w_highest_income'])
df_new["p_household_lowest_40p_income"]=df["p_household_lowest_40p_income"]/100
df=df.drop(columns=['p_household_lowest_40p_income'])
df_new["p_household_highest_20p_income"]=df["p_household_highest_20p_income"]/100
df=df.drop(columns=['p_household_highest_20p_income'])
df_new["p_household_smaller_bare_social_minimum"]=df["p_household_smaller_bare_social_minimum"]/100
df=df.drop(columns=['p_household_smaller_bare_social_minimum'])
df=df.drop(columns=['p_low_income_household'])
df_new["p_household_upto_110p_social_minimum"]=df["p_household_upto_110p_social_minimum"]/100
df=df.drop(columns=['p_household_upto_110p_social_minimum'])
df_new["p_household_120p_social_minimum"]=df["p_househould_upto_120p_social_minimum"]/100
df=df.drop(columns=['p_househould_upto_120p_social_minimum'])
df_new["single_family_housing"]=df["percent.of.single.family.housing"]/100
df=df.drop(columns=['percent.of.single.family.housing'])
df_new["multi_family_housing"]=df["percent.of.multifamily.housing"]/100
df=df.drop(columns=['percent.of.multifamily.housing'])
df_new.dropna(inplace=True)

In [277]:
df

,X,gwb_code_10,gm_naam,recs,ind_wbi,NonDutch.EU,NonDutch.NonEU,Number.of.people.from.Marocco,Number.of.people.from.Dutch.territories,Number.of.people.from.Surinaam,...,Within20Km_107,DistanceToSauna_108,DistanceToTanningSalon_109,DistanceToAttraction_110,Within10Km_111,Within20Km_112,Within50Km_113,DistanceToFireStation_114,code,year
0,2,340101,Almere,Buurt,3,190,410,30,55,120,...,3.9,2.7,0.4,2.4,4.0,7.0,50.0,4.6,340101,2021
1,3,340102,Almere,Buurt,3,280,750,165,75,195,...,3.0,2.6,1.2,2.3,4.0,6.6,49.6,4.4,340102,2021
2,16,340201,Almere,Buurt,3,710,2085,180,215,625,...,3.0,2.0,0.5,3.8,4.0,6.0,46.8,1.2,340201,2021
3,17,340202,Almere,Buurt,3,1235,3450,350,235,1055,...,3.0,3.3,1.3,3.8,4.0,5.9,45.0,1.4,340202,2021
4,18,340203,Almere,Buurt,3,620,2345,260,180,810,...,3.0,4.5,2.6,3.1,4.0,5.2,44.2,1.6,340203,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,1246,3639700,Amsterdam,Buurt,1,350,1855,85,145,845,...,15.0,6.6,6.9,1.3,3.0,10.2,58.9,2.2,3639700,2021
958,1247,3639701,Amsterdam,Buurt,1,160,1200,45,70,470,...,15.0,7.0,7.3,1.7,3.0,11.2,59.0,2.6,3639701,2021
959,1248,3639702,Amsterdam,Buurt,1,455,1110,5,50,570,...,15.0,6.7,6.9,0.8,3.0,10.3,58.6,2.3,3639702,2021
960,1249,3639703,Amsterdam,Buurt,1,380,1730,75,125,840,...,15.0,7.1,7.3,1.8,3.0,11.1,59.0,2.7,3639703,2021
961,1250,3639800,Amsterdam,Buurt,1,150,185,20,20,80,...,17.6,2.5,5.9,4.8,3.0,12.2,59.3,0.4,3639800,2021

In [279]:
df_new.to_csv("normalized_variables.csv")