In [39]:
import pandas as pd
df = pd.read_csv("data_preprocessed.csv", index_col=0)  
df

,X,gwb_code_10,gm_naam,recs,ind_wbi,Number.of.inhabitants,Number.of.man,Number.of.women,Numbers.of.people.from.0.14.years.old,Number.of.people.from.15.24.years.old,...,Within5Km_105,Within10Km_106,Within20Km_107,DistanceToSauna_108,DistanceToTanningSalon_109,DistanceToAttraction_110,Within10Km_111,Within20Km_112,Within50Km_113,DistanceToFireStation_114
2,2,340101,Almere,Buurt,3,1580,740,845,155,150,...,0.0,1.0,3.9,2.7,0.4,2.4,4.0,7.0,50.0,4.6
3,3,340102,Almere,Buurt,3,2860,1375,1480,515,290,...,0.0,1.0,3.0,2.6,1.2,2.3,4.0,6.6,49.6,4.4
4,4,340103,Almere,Buurt,3,2410,1170,1240,450,295,...,0.2,1.0,3.2,2.2,0.8,1.9,4.0,7.0,50.0,4.2
5,5,340104,Almere,Buurt,3,2260,1100,1160,380,215,...,0.0,1.0,3.0,3.2,1.7,2.8,4.0,6.4,49.0,4.8
6,6,340105,Almere,Buurt,3,2255,1060,1195,370,220,...,0.0,1.0,3.0,2.9,2.2,2.3,4.0,6.0,48.0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,1246,3639700,Amsterdam,Buurt,1,2960,1490,1475,475,405,...,0.1,1.2,15.0,6.6,6.9,1.3,3.0,10.2,58.9,2.2
1247,1247,3639701,Amsterdam,Buurt,1,1670,800,865,305,235,...,0.3,1.0,15.0,7.0,7.3,1.7,3.0,11.2,59.0,2.6
1248,1248,3639702,Amsterdam,Buurt,1,3250,1650,1600,450,375,...,0.0,1.2,15.0,6.7,6.9,0.8,3.0,10.3,58.6,2.3
1249,1249,3639703,Amsterdam,Buurt,1,3355,1635,1715,505,320,...,0.1,1.0,15.0,7.1,7.3,1.8,3.0,11.1,59.0,2.7
1250,1250,3639800,Amsterdam,Buurt,1,1485,705,785,260,170,...,0.0,1.0,17.6,2.5,5.9,4.8,3.0,12.2,59.3,0.4

In [40]:
df_wijk = pd.read_csv("Leefbaarometer-scores wijken 2002-2022.csv")
df_wijk=df_wijk.iloc[:,:4]
df_wijk=df_wijk[(df_wijk['jaar']==2020) | (df_wijk['jaar']==2022)]
df_wijk["wk_code"]=df_wijk["wk_code"].apply(lambda x: x[2:])
df_wijk.rename(columns={'wk_naam': 'name'}, inplace=True)
df_all = []
for i in range(0, len(df_wijk)-1, 2):
    row1 = df_wijk.iloc[i]
    row2 = df_wijk.iloc[i+1]
    
    # Calculate the average of the last column values
    average_value = (row1[-1] + row2[-1]) / 2
    
    # Create a new row with the average value
    new_row = [max(row1[0], row2[0]), 2021, average_value]
    
    # Append the new row to the averaged df_wijk
    df_all.append(new_row)

C:\Users\I6240624\AppData\Local\Temp\ipykernel_15844\444341776.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_value = (row1[-1] + row2[-1]) / 2
C:\Users\I6240624\AppData\Local\Temp\ipykernel_15844\444341776.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_row = [max(row1[0], row2[0]), 2021, average_value]

In [41]:
df_buurt = pd.read_csv("Leefbaarometer-scores buurten 2002-2022.csv")
df_buurt=df_buurt.iloc[:,:4]
df_buurt=df_buurt[(df_buurt['jaar']==2020) | (df_buurt['jaar']==2022)]
df_buurt["bu_code"]=df_buurt["bu_code"].apply(lambda x: x[2:])
df_buurt.rename(columns={'bu_naam': 'name'}, inplace=True)
for i in range(0, len(df_buurt)-1, 2):
    row1 = df_buurt.iloc[i]
    row2 = df_buurt.iloc[i+1]
    
    # Calculate the average of the last column values
    average_value = (row1[-1] + row2[-1]) / 2
    
    # Create a new row with the average value
    new_row = [max(row1[0], row2[0]), 2021, average_value]
    
    # Append the new row to the averaged df_wijk
    df_all.append(new_row)
df_all = pd.DataFrame(df_all, columns=["code", "year", "liveability_score"])
df_all["code"] = df_all["code"].astype(int)

C:\Users\I6240624\AppData\Local\Temp\ipykernel_15844\3285892393.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_value = (row1[-1] + row2[-1]) / 2
C:\Users\I6240624\AppData\Local\Temp\ipykernel_15844\3285892393.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_row = [max(row1[0], row2[0]), 2021, average_value]

In [42]:
df=pd.merge(df, df_all, left_on="gwb_code_10",right_on="code", how='inner')

In [43]:
df.rename(columns={"gwb_code_10":"postal_code",
                   'DistanceToGPPractice_5': 'Distance GP', 
                   'Within1Km_6': 'Within 1 km GP', 
                   'Within3Km_7': 'Within 3 km GP', 
                   'Within5Km_8': 'Within 5 km GP',
                   "DistanceToHospital_11": "Distance Hospital",
                   "Within5Km_12": "Within 5 km Hospital",
                   'Within10Km_13': 'Within 10 km Hospital', 
                   'Within20Km_14': 'Within 20 km Hospital',
                   'DistanceToLargeSupermarket_24': 'Distance Supermarket', 
                   'Within1Km_25': 'Within 1 km Supermarket', 
                   'Within3Km_26': 'Within 3 km Supermarket', 
                   'Within5Km_27': 'Within 5 km Supermarket',
                   "DistanceToDepartmentStore_32": "Distance Department Store",
                   "Within5Km_33": "Within 5 km Department Store",
                   'Within10Km_34': 'Within 10 km Department Store',
                   'Within20Km_35': 'Within 20 km Department Store',
                   'DistanceToRestaurant_44': 'Distance Restaurant', 
                   'Within1Km_45': 'Within 1 km Restaurant', 
                   'Within3Km_46': 'Within 3 km Restaurant', 
                   'Within5Km_47': 'Within 5 km Restaurant',
                   'DistanceToDaycareCentres_52': 'Distance Day Care', 
                   'Within1Km_53': 'Within 1 km Day Care', 
                   'Within3Km_54': 'Within 3 km Day Care', 
                   'Within5Km_55': 'Within 5 km Day Care',
                   'DistanceToSchool_60': 'Distance School', 
                   'Within1Km_61': 'Within 1 km School', 
                   'Within3Km_62': 'Within 3 km School', 
                   'Within5Km_63': 'Within 5 km School'}, inplace=True)

In [44]:
new_column_names = ["postal_code",
    'Distance GP', 'Within 1 km GP', 'Within 3 km GP', 'Within 5 km GP',
    'Distance Hospital', 'Within 5 km Hospital', 'Within 10 km Hospital', 'Within 20 km Hospital',
    'Distance Supermarket', 'Within 1 km Supermarket', 'Within 3 km Supermarket', 'Within 5 km Supermarket',
    'Distance Department Store', 'Within 5 km Department Store', 'Within 10 km Department Store', 'Within 20 km Department Store',
    'Distance Restaurant', 'Within 1 km Restaurant', 'Within 3 km Restaurant', 'Within 5 km Restaurant',
    'Distance Day Care', 'Within 1 km Day Care', 'Within 3 km Day Care', 'Within 5 km Day Care',
    'Distance School', 'Within 1 km School', 'Within 3 km School', 'Within 5 km School'
]
dist_df=df[new_column_names]
dist_df.to_csv("distances.csv")

In [18]:
df_new=pd.DataFrame()
def calculate_proportions(df1, col1, col2, col3):
    df_new[col1] = df1[col2] / df1[col3]
    return df_new

def normalize(df, col1, col2):
    min_density = df[col1].min()
    max_density = df[col1].max()
    df_new[col2] =(df[col1] - min_density) / (max_density - min_density)
    return df_new

In [19]:
df_new["postal_code"]=df["postal_code"]

In [20]:
calculate_proportions(df, 'prop_0-14', 'Numbers.of.people.from.0.14.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Numbers.of.people.from.0.14.years.old'])
calculate_proportions(df, 'prop_15-24', 'Number.of.people.from.15.24.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.15.24.years.old'])
calculate_proportions(df, 'prop_25-44', 'Number.of.people.from.25.44.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.25.44.years.old'])
calculate_proportions(df, 'prop_45-64', 'Number.of.people.from.45.64.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people.from.45.64.years.old'])
calculate_proportions(df, 'prop_65+', 'Number.of.people....65.years.old', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.people....65.years.old'])
df=df.drop(columns=['n_highschool_educated'])
calculate_proportions(df, 'prop_university', 'n_highly_educated', 'Number.of.inhabitants')
df=df.drop(columns=['n_highly_educated'])
calculate_proportions(df, 'prop_recipients', 'n_income_recipients', 'Number.of.inhabitants')
df_new["worker"]=1-df_new['prop_recipients']
df_new=df_new.drop(columns=['prop_recipients'])
df=df.drop(columns=['n_income_recipients'])
calculate_proportions(df, 'prop_women', 'Number.of.women', 'Number.of.inhabitants')
df=df.drop(columns=['Number.of.women'])

In [21]:
normalize(df, 'Population.density', 'pop_density')
df=df.drop(columns=['Population.density'])
normalize(df, 'liveability_score', 'liveability_score')
df=df.drop(columns=['liveability_score'])
df["Aid"]=df["n_pp_w_AO"]+df["n_pp_w_WW"]
normalize(df,"Aid","Aid")
df=df.drop(columns=['Aid'])

normalize(df, "avg_income_per_recipient", "Income")

df_new["single_family_housing"]=df["percent.of.single.family.housing"]/100
df=df.drop(columns=['percent.of.single.family.housing'])
df_new.dropna(inplace=True)

In [22]:
df_new

,postal_code,prop_0-14,prop_15-24,prop_25-44,prop_45-64,prop_65+,prop_university,worker,prop_women,pop_density,liveability_score,Aid,Income,single_family_housing
0,340101,0.098101,0.094937,0.253165,0.199367,0.357595,0.170886,0.177215,0.534810,0.085318,0.441714,0.058480,0.119906,0.03
1,340102,0.180070,0.101399,0.283217,0.239510,0.197552,0.171329,0.195804,0.517483,0.158171,0.304973,0.140351,0.103448,0.65
2,340201,0.116719,0.096740,0.401682,0.223975,0.159832,0.319664,0.263933,0.481598,0.157137,0.369138,0.198830,0.170063,0.01
3,340202,0.150527,0.157718,0.244487,0.316874,0.130393,0.246405,0.194631,0.512464,0.137107,0.365422,0.345029,0.163009,0.68
4,340203,0.181261,0.155867,0.268827,0.316112,0.078809,0.182137,0.229422,0.496497,0.245857,0.305013,0.187135,0.137931,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,3639700,0.160473,0.136824,0.295608,0.265203,0.143581,0.165541,0.222973,0.498311,0.259273,0.212271,0.122807,0.090909,0.00
958,3639701,0.182635,0.140719,0.314371,0.284431,0.074850,0.227545,0.221557,0.517964,0.266512,0.104720,0.081871,0.087774,0.00
959,3639702,0.138462,0.115385,0.220000,0.324615,0.203077,0.295385,0.169231,0.492308,0.137488,0.204621,0.093567,0.174765,1.00
960,3639703,0.150522,0.095380,0.271237,0.293592,0.187779,0.211624,0.195231,0.511177,0.126140,0.272844,0.128655,0.123041,0.56
961,3639800,0.175084,0.114478,0.225589,0.303030,0.185185,0.228956,0.191919,0.528620,0.138577,0.305429,0.040936,0.170063,0.81

In [24]:
df_new.to_csv("normalized_variables.csv")
df.to_csv("test_distance.csv")